.new-accessory-main-container {
  img {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  img.selected {
    border-color: #4b3621;
  }
}

.main-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1em;
}

.accessory-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1em;
}

.button-group {
  display: flex;
  gap: 10px;
}

.accessory-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.actions-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
