
.accessory-show-page {
  .card-header {
    background-color: #007bff;
    color: white;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
  }
}

.accessory-image {
  max-width: 70%;
  height: auto;
  margin: auto;
  display: block;
}
