.new-acc-main-container {
  img {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
  }

  img.selected {
    border-color: #4b3621;
  }

  .new-acc-main-button.selected img {
    border-color: #4b3621;
  }
}

.new-acc-main-btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1em;
  gap: 10px;
}

.new-acc-main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

.new-acc-type-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1em;
  justify-content: center;
}

.new-acc-flex-column-center-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 1rem;
  align-content: center;
  text-align: center;
  gap: 1em;
  max-width: 80%;
  margin: auto;
}

.new-acc-flex-row-center-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  text-align: center;
}

.new-acc-grinder-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.new-acc-grinder-input-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
}

.new-acc-grinder-field_single {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 5px;
}

.new-acc-actions-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: space-around;
}

.prefilled-input {
  flex-grow: 1;
  width: 60px;
}
