<%= simple_form_for(@extraction) do |f| %>
  <% @default_params ||= {} %>





  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to 'Back', extractions_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
