<div class= "extrac-new-main-container">
  <div class="actions-buttons">
      <%= link_to 'Back', 'javascript:history.back()', class: 'btn btn-outline-secondary', onclick: "if (document.referrer === '') { window.location.href = '#{pages_dashboard_path}'; }" %>
  </div>
  <h1>New Extraction</h1>



    <div class="extrac-new-step">
      <div class="extrac-new-acc-container">
        <div class="extrac-new-acc-single">
          Coffee
          <div class="extrac-new-acc-tile">
          </div>
        </div>
        <div>
          Grinder
          <div class="extrac-new-acc-tile">
          </div>
        </div>
        <div>
          Brewer
          <div class="extrac-new-acc-tile">
          </div>
        </div>
      </div>

      <div class="extrac-new-acc-secondary">
        <h4>secondary accessories</h4>
        basket <br>
        tamper <br>
        or <br>
        filter <br>
        kettle <br>
        <br>
      </div>

      <div class="extrac-new-dials-before">
        <h4>dials before</h4>
        weight_in <br>
        grinder_set <br>
        weight_target <br>
        water_temperature <br>
        <br>
      </div>

      <div class="extrac-new-acc-optional">
        <h4>optional accessories</h4>
        espresso paper filter <br>
        WDT<br>
        Distributor<br>
        <br>
      </div>

      <div class="extrac-new-comments">
        <h4>comments</h4>
        <br>
      </div>
    </div>

    <div class="extrac-new-step">
      TIMER <br>
      <br>
      Timer start <br>
      Timer reset <br>
      Timer preinfusion/bloom end <br>
      Timer stop <br>
      <br>
    </div>

    <div class="extrac-new-step">
      <div class="extrac-new-dials-after">
        <h4>dials after</h4>
        weight_out <br>
        <br>
      </div>
    </div>

<%= render 'form' %>

  BUTTON VALIDATE <br>
  <br>

    <div class="extrac-new-step">
      <div class="extrac-new-tasting">
        <h4>Tasting</h4>
        Global rating slider<br>

        <br>
        fragrance slider<br>
        acidity slider<br>
        flavor slider<br>
        body slider<br>
        aftertaste slider<br>
        balance slider<br>
        <br>
        flavors list tool or link<br>
        <br>
        comments<br>
      </div>
    </div>

</div>
