
.actions-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;

  i {
    color: black;
  }
}

.btn-plus-round {
  border: 1px solid burlywood;
  background-color: #4b3621;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  // box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  p {
    // color: burlywood;
  }

  i {
    // color: burlywood;
  }
}

.btn-minus-round {
  border: 1px solid #4b3621;
  background-color: burlywood;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  // box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  p {
    color: #4b3621;
  }

  i {
    color: #4b3621;
  }
}
