.btn-plus-round {
  background-color: #4b3621;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  // box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  p {
    color: bisque;
  }

  i {
    color: bisque;
  }
}

.btn-minus-round {
  border: 1px solid #4b3621;
  background-color: bisque;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  // box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);

  p {
    color: #4b3621;
  }

  i {
    color: #4b3621;
  }
}
