<%= link_to 'Back', accessories_path, class: 'btn btn-secondary' %>
<h1>Edit Accessory</h1>

<%= render 'form', accessory: @accessory %>

<script type="module">
  import { initAccessoryForm } from 'controllers/accessory_form';
  document.addEventListener('DOMContentLoaded', () => {
    initAccessoryForm();
  });
</script>
